<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Pokewex</h1>
  
  <input type="text" [(ngModel)]="searchInput">
  <button (click)="searchPokemon()">Search</button>
  
  <div *ngIf="pokemon != null">
    <div class="row">
      <div class="col-md-offset-2 col-md-4">
          <h3>{{ pokemon.name }}</h3>
          <img src="{{ pokemonPicture }}" alt="">
      </div>

      <div class="col-md-4">
          <canvas baseChart style="width:40%;height:150px;"
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [chartType]="radarChartType"></canvas>
      </div>
    </div>
  </div>
  
</div>
