#wrapper {
    margin-top: 50px;
}

nav {
    margin-bottom: 100px;
    background: red;
}

nav a.navbar-brand {
    font-size: 1.4em;
    font-weight: 800;
}

nav a {
    color: white;    
    font-size: 1.2em;
}